

.text-mutedh{
    color: aliceblue;
}

.alert{
    text-align: center;
    font-weight: bold;
}

.active img{
max-height: 50vh;
margin: auto;
max-width: 40%;
}

.alert{
    font-size: 20px;
    font-weight: bold;
}